@model konusarak_ogreniyorum.Models.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="panel panel-success" panel-succes>
    <div class=" panel-heading"><h4>Giriş</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Kullancı Adı</label>
                @Html.TextBoxFor(x => x.username, new { @class = "form-controller" })
            </div>

            <div class="form-group">
                <label>Şifre</label>
                @Html.TextBoxFor(x => x.password, new { @class = "form-controller" })
            </div>

            <div class="form-group">
               <input class="="btn btn-success" type="submit" value="Giriş" />
            </div>
        }
    </div>

</div>